body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   margin: 0px, auto;
   text-align: center;
   background: radial-gradient(circle, #6a11cb, #2575fc);
}

h1{
    font-size: 100px;
    font-weight: bold;
    background-color: blue;
    border: 10px solid black;
}

header {
   padding: 10px;
}

.instructions {
    border: 10px;
    padding: 10px;
}

button {
    background-color: green;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: medium;
}

button:hover {
    background-color: red;
}

#outputArea {
    margin: 30px auto;
    padding: 20px;
    width: 70%;
    max-width: 400px;
    background-color: purple;
    border: 2px solid #ffffff;
    border-radius: 12px;
}